html,body {
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}

#container {
    width:100%;
    height:100%;
}

#menu,#footer {
}
#auto {
}

#menu {
    padding-left: 1px;
    height: 70px;
    background-color: silver;
}

#menu a {
    
    display: inline-block;
    width:69px;
    height: 69px;
    border: 1px solid black;
    margin-right: 2px;
    
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    
    color: black;
    background-color: white;
    text-decoration: none;
    text-align: center;
    line-height: 69px;
    
}
#footer {
    height: 20px;
    background-color: silver;
}


#auto {
    height:100%;
    overflow:hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    margin:-45px 0;
    padding:45px 0;
}
#scenelist {
    float:left;
    overflow:auto;
    height:100%;
    width:15em;
    padding-top: 1px;
}
#scenelist a{
    height: 2em;
    line-height: 2em;
    display: block;
    width:15em;
    border: 1px solid black;
    margin-bottom: 2px;
    
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    
    color: black;
    background-color: lightgoldenrodyellow;
    text-decoration: none;
    text-align: center;
}
#details{
    overflow:auto;
    height:100%;
}
